*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.root{
  display: flex;
}
.input{
  width: 300px;
  height: 50px;
}
.button{
  height: 50px;
  margin-left: 3rem;
  margin-top: 2rem;
  width: 90px;
}